[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-lambda-powertools = {extras = ["all"], version = "*"}
pydantic = {extras = ["email"], version = "==1.10.15"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
